.howToSmellContainer {
    display: table-cell;
    vertical-align: middle;
    background: #242739;
    position: fixed;
    width: 100%;
    height: 100%;
}

.howToSmellWrapper {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
}

.howToSmellIcon {
    background: url(images/howtosmell_icon.png);
    -webkit-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 183px;
    margin: 0px auto;
}

.howToSmellHeading {
    font-weight: 400;
    color: #FFFFFF;
    opacity: 0.60;
    font-size: 14px;
    margin-bottom: 72px;
    margin-top: 60px;
    line-height: 21px;
    padding: 0px 50px;
}

.howToSmellButton {
    background: none;
    border: 1px solid #fff;
    text-transform: uppercase;
    padding: 12px 25px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    width: 27%;
    color: #FFF;
    margin: 0px auto;
}

@media screen and (max-width: 340px) {
    .howToSmellHeading {
        margin-bottom: 30px;
        margin-top: 30px;
    }
}