.imageOption1Container {
    .imgOption {
        display: inline-block;
        width: 20%;
        margin: 0 5%;
    }
    .imgOption:first-child {
        display: inline-block;
        margin: 0 12% 0 0;
    }
    .imgOption:last-child {
        display: inline-block;
        margin: 0 0 0 12%;
    }
    .imgRow {
        width: 100%;
        height: 36px;
        background-position: center;
        -webkit-transition: opacity 0.1s;
        transition: opacity 0.1s;
        background-size: 35px 31px;
    }
    .opacity1 {
        opacity: 1 !important;
    }
    .opacity05 {
        opacity: 0.5;
    }
    .opacity03 {
        opacity: 0.3;
    }
    .positiveHollow {
        background-image: url('images/hollowHeart.png');
    }
    .negativeHollow {
        background-image: url('images/hollowBrokenHeart.png');
    }
    .neutralHollow {
        background-image: url('images/hollowSmiley.png');
        background-size: 31px 31px !important;
    }
    .positiveFilled {
        background-image: url('images/filledHeart.png');
    }
    .negativeFilled {
        background-image: url('images/filledBrokenHeart.png');
    }
    .neutralFilled {
        background-image: url('images/filledSmiley.png');
        background-size: 31px 31px !important;
    }
    .emoText {
        @include fontStyle(15px,
        300,
        #FF0040,
        21px);
        padding-top: 20px;
        display: inline-block;
    }
}

.parentAnswer {
    height: 94%;
    width: 101%;
}

.centreToScreenAnswer {
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.padBZero {
    padding-bottom: 0 !important;
}