.radioFormatContainer {
    text-align: left;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    .radioRow {
        padding-bottom: 10px;
        position: relative;
    }
    .emptyCirc {
        background-color: white;
        border: 1px solid rgba(62, 63, 75, 0.45);
    }
    .filledCirc {
        background-color: $buttonFillColor;
        border: 1px solid transparent;
    }
    .radioCirc {
        height: 18px;
        width: 18px;
        display: inline-block;
        cursor: pointer;
        border-radius: 50%;
        -webkit-transition: background-color 0.3s;
        transition: background-color 0.3s;
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px;
        position: absolute;
    }
    .radioVersusContainer {
        position: relative;
        overflow: hidden;
        text-align: center;
        margin: -40px -40px 20px -40px;
        .topImg {
            height: 120px;
            width: 50%;
            background-size: 100% 100% !important;
        }
        .versusTag {
            position: absolute;
            background: $buttonFillColor;
            height: 48px;
            width: 48px;
            border-radius: 50%;
            @include fontStyle(16px, 400, #fff, 44px);
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
        }
        .radioRow {
            padding-bottom: 8px;
        }
    }
    .radioSinglePicContainer {
        margin: -40px -40px 20px -40px;
        .topImg {
            height: 120px;
            width: 100%;
            background-size: cover !important;
            background-position: center;
        }
        .radioRow {
            padding-bottom: 8px;
        }
    }
}

.padB28 {
    padding-bottom: 25px !important;
}

@media screen and (max-width: 340px) {
    .radioVersusContainer,
    .radioSinglePicContainer {
        margin: -35px -35px 20px -35px !important;
    }
}

@media screen and (min-height: 440px) and (max-height: 500px) {
    .radioVersusContainer,
    .radioSinglePicContainer {
        margin: -30px -30px 15px -30px !important;
        .topImg {
            height: 110px !important;
        }
        .padB28 {
            padding-bottom: 20px !important;
        }
    }
    .radioVersusContainer ~ .padB28 {
        padding-bottom: 20px !important;
    }
    .radioSinglePicContainer ~ .padB28 {
        padding-bottom: 20px !important;
    }
    .radioSinglePicContainer ~ .answer .radioCirc {
        margin-top: 7px;
        margin-bottom: 7px;
    }
    .radioSinglePicContainer ~ .answer .optionTxt {
        padding-top: 7px;
        padding-bottom: 7px;
    }
    .radioVersusContainer ~ .answer .radioCirc {
        margin-top: 7px;
        margin-bottom: 7px;
    }
    .radioVersusContainer ~ .answer .optionTxt {
        padding-top: 7px;
        padding-bottom: 7px;
    }
}