$aroma: #E424C3;
.smellMessageContainer {
    display: table-cell;
    vertical-align: middle;
    background: #242739;
    position: fixed;
    width: 100%;
    height: 100%;
}

.smellMessageWrapper {
    width: 100%;
    position: absolute;
    top: 40%;
    left: 50%;
    margin: 0px auto;
    -webkit-transform: translate(-50%, -50%);
}

.smellMessageIcon {
    border-radius: 50%;
    background: #E424C3;
    height: 12px;
    width: 12px;
    margin: 0px auto;
    position: relative;
    -webkit-animation: ripple 1s linear infinite;
}

.foolIcon {
    background: url(images/katta_sticker.png);
    height: 200px;
    width: 200px;
    margin: 0px auto;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.messageSender {
    position: absolute;
    bottom: 24px;
    left: 24px;
    font-size: 14px;
    font-weight: 300;
    color: #FFF;
    opacity: 0.70;
}

.trySmellButton {
    position: absolute;
    bottom: 24px;
    right: 0px;
    color: #7ED321;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    left: 0px;
}

.changePadding {
    padding: 60px 40px !important;
}

@-webkit-keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgba($aroma, 0.2), 0 0 0 1em rgba($aroma, 0.2), 0 0 0 4em rgba($aroma, 0.2), 0 0 0 6em rgba($aroma, 0.2);
    }
    100% {
        box-shadow: 0 0 0 1em rgba($aroma, 0.2), 0 0 0 4em rgba($aroma, 0.2), 0 0 0 6em rgba($aroma, 0.2), 0 0 0 9em rgba($aroma, 0);
    }
}

.refreshText {
    color: #fff;
    opacity: 0.60;
    line-height: 21px;
    position: absolute;
    padding: 140px 40px;
    font-size: 14px;
    font-weight: 400;
}

.refreshButton {
    position: absolute;
    margin: 0px auto;
    left: 0px;
    right: 0px;
    border: 1px solid #fff;
    width: 20%;
    border-radius: 4px;
    margin-top: 220px;
    padding: 12px 20px;
    color: white;
}

@media screen and (max-width: 340px) {
    .refreshButton {
        margin-top: 200px;
        font-size: 12px; 
    }
    .refreshText{
        padding: 130px 40px; 
    }
}
