.trophyContainer{
    width: 100%;
    height: 100%;
    position: relative; 
}

.trophyCountWrapper{
    position: absolute;
    top: 20px;
    left: 0px;
    right: 0px;
    margin: 0px auto;    
    text-align: center;
}

.trophyCountIcon{
    margin: 5px auto; 
    height: 27px;
    width: 28px;
    background-image: url('images/trophyIcon.png'); 
}

.trophyWrapper{
    width: 80%; 
    top: 45% !important; 
}

.trophyCount{
    @include fontStyle(18px,
    400,
    #3D475C,
    21px)
}

.trophyCount span{
   @include fontStyle(20px,
    500,
    #3D475C,
    21px) 
}

.locked{
    margin: 20px auto;  
    height: 44px;
    width: 44px;
    background-image: url(images/trophy-locked.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.awarded{
    margin: 10px auto;  
    height: 58px;
    width: 76px;
    position: relative;   
}

.trophyIconContain{
    width: 73px;
    height: 73px;
    display: inline-block; 
    margin-bottom: 34px;
    margin-left: 17px;
    margin-right: 17px; 
}

.crossIcon{
    background-image: url(images/cross-icon.png);
    width:13px;
    height: 13px;
    position: absolute;
    right:18px;
    top: 18px;  
}

.trophyOverlay{
    background: #3D475C;
    opacity: 0.96;
}

.trophyOverlayWrapper{
    background: #FFF; 
    padding: 72px 32px 0px 32px;
      
}

.levelsIconWrapper{
    width: 250px;
    text-align: center; 
    margin-bottom: 24px;
}

.trophyHeading{
    @include fontStyle(18px,
    400,
    #3D475B,
    21px)
    margin-bottom: 8px; 
}

.levelText{
    @include fontStyle(14px,
    400,
    #3D475B,
    21px)
    opacity: 0.80;
    margin-bottom: 30px;  
}

.trophyOverlay hr{
    margin: 0px;
    border: none;
    height: 1px;
    background: #3D475B;
    opacity: 0.20;
}

.levelAction{
    @include fontStyle(14px,
    500,
    #1DA8E8,
    21px);
    text-align: center;
    padding: 15px 0px 15px 0px;
    text-transform: uppercase ;  
}

.levelLocked{
    width: 32px;
    height: 32px;  
    background-position: center; 
    background-image: url(images/trophy-locked.png);
}

.levelBronze {
    display: inline-block ;
    width: 69px;
    height: 52px;  
}

.levelSilver{
    display: inline-block ;
    width: 69px;
    height: 52px;
    margin: 0px 12px;   
}

.levelGold{
    display: inline-block ;
    width: 69px;
    height: 52px;
}

// On no click of locked level
.levelLockNoTap{
    opacity: 0.40; 
}

// On click on locked level
.levelLockTap{
    opacity: 1;
}

.align-center{
    text-align: center;  
}

.hide{
    display: none!important; 
}