.profilePhoto {
    height: 66px;
    width: 66px;
    display: inline-block;
    vertical-align: middle;
    background-image: url('images/profilePic.png');
    border-radius: 50%;
    margin: 20px 16px 20px 20px;
}

.profileName {
    @include fontStyle(20px,
    300,
    #3D475B,
    26px);
    display: inline-block;
    vertical-align: middle;
}

.profileStatHead {
    @include fontStyle(14px,
    400,
    #3D475B,
    20px);
    opacity: 0.4;
}

.profileStatSubHead {
    @include fontStyle(16px,
    400,
    #3D475B,
    22px);
}

.ageIcon {
    height: 29px;
    width: 29px;
    display: inline-block;
    vertical-align: middle;
    margin: 0px 35px 0px 35px;
}

.mIcon {
    background-image: url('images/maleIcon.png');
}

.fIcon {
    background-image: url('images/femaleIcon.png');
}

.neutralIcon {
    background-image: url('images/neutralIcon.png');
}

.tcIcon {
    height: 29px;
    width: 29px;
    display: inline-block;
    vertical-align: middle;
    background-image: url('images/trophyIcon.png');
    margin: 0px 35px 0px 35px;
}

.tcInfo,
.ageInfo {
    display: inline-block;
    vertical-align: middle;
}

.ageRow,
.rowTrophies {
    margin-bottom: 18px;
}

#btnAction {
    display: inline-block;
    float: right;
    padding: 8px 16px 8px 16px;
    background: #1DA8E8;
    border-radius: 4px;
    @include fontStyle(12px,
    500,
    #FFFFFF,
    16px);
    margin-right: 20px;
}

.workSpaceContainer {
    background: #F7F8F9;
    height: 100%;
    width: 100%;
    overflow: scroll
}

.cardIcon {
    background-image: url('images/test.png');
    height: 18px;
    width: 18px;
    display: inline-block;
    margin-right: 16px;
    vertical-align: bottom;
}

.favouriteIcon {
    background-image: url('images/favoriteIcon.png');
}

.messageIcon {
    background-image: url('images/messageIcon.png');
    height: 14px;
}

.stickerIcon {
    background-image: url('images/stickerIcon.png');
}

.statHeading {
    @include fontStyle(12px,
    400,
    #9EA3AD,
    16px)
}

.header {
    margin: 16px;
    margin-bottom: 12px;
}

.cardContainer {
    margin-bottom: 16px;
}

.dataHeader {
    margin-left: 16px;
}

.dataHeader:last-child {
    margin-bottom: 16px;
}

.statSubHeading {
    @include fontStyle(14px,
    300,
    #3D475C,
    19px)
}

.statData {
    @include fontStyle(14px,
    400,
    #3D475C,
    16px)
}

.cardHeader {
    @include fontStyle(14px,
    400,
    #3D475C,
    19px);
    margin: 0px 0px 16px 16px;
}

.halfCard {
    border-radius: 4px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, .16);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, .16);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, .16);
    display: inline-block;
    width: 48%;
    margin-left: 4px;
    background: #fff;
}

.halfCard:last-child {
    margin-left: 1px;
}

.fullCard {
    border-radius: 4px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, .16);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, .16);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, .16);
    display: inline-block;
    width: 98%;
    background: #fff;
    margin-left: 1%;
    margin-right: 1%
}