.statsContainer {
    padding: 0px 0px 12px 0px;
}

.statsOverallContainer {
    width: 100%;
    height: 100%;
    position: relative;
}

.statsWrapperOne {
    border-radius: 4px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16);
    display: inline-block;
    width: 94.5%;
    background: #fff;
    margin: 9px 9px 3px 9px;
}

.upgradeOverlay {
    background: rgba(255, 255, 255, 0.93);
    top: 0;
}

.upgradeOverlayWrapper {
    width: 80%;
}

.upgradeHeading {
    @include fontStyle(16px, 500, #fff, 21px);
    background: #1da8e8;
    width: 40%;
    margin: 16px auto;
    text-align: center;
    padding: 12px;
    border-radius: 4px;
    text-transform: uppercase;
    padding: 14px 8px;
}

.upgradeText {
    @include fontStyle(14px, 400, #8B919C, 21px);
    margin-top: 8px;
}

.upgradeSticker {
    height: 132px;
    width: 126px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    background-image: url('images/upgrade_icon.png');
    margin: 0px auto 24px auto;
}

.profilePhoto {
    height: 66px;
    width: 66px;
    display: inline-block;
    vertical-align: middle;
    background-image: url('images/profilePic.png');
    border-radius: 50%;
    margin: 20px 16px 15px 20px;
}

.profileName {
    @include fontStyle(20px,
    300,
    #3D475B,
    26px);
    display: inline-block;
    vertical-align: middle;
}

.profileStatHead {
    @include fontStyle(14px,
    400,
    #3D475B,
    20px);
    opacity: 0.4;
}

.profileStatSubHead {
    @include fontStyle(16px,
    400,
    #3D475B,
    22px);
}

.ageIcon {
    height: 29px;
    width: 29px;
    display: inline-block;
    vertical-align: middle;
    margin: 0px 35px 0px 35px;
}

.mIcon {
    background-image: url('images/maleIcon.png');
}

.fIcon {
    background-image: url('images/femaleIcon.png');
}

.neutralIcon {
    background-image: url('images/neutralIcon.png');
}

.tcIcon {
    height: 29px;
    width: 29px;
    display: inline-block;
    vertical-align: middle;
    background-image: url('images/trophyIcon.png');
    margin: 0px 35px 0px 35px;
}

.tcInfo,
.ageInfo {
    display: inline-block;
    vertical-align: middle;
}

.ageRow,
.rowTrophies {
    padding-bottom: 14px;
    padding-top: 14px;
}

#btnAction {
    display: inline-block;
    float: right;
    padding: 8px 16px 8px 16px;
    background: #1DA8E8;
    border-radius: 4px;
    @include fontStyle(12px,
    500,
    #FFFFFF,
    16px);
    margin-right: 20px;
    transform: translate(0%, 17%);
}

.workSpaceContainer {
    background: #F7F8F9;
    height: 100%;
    width: 100%;
    overflow: scroll
}

.cardIcon {
    background-image: url('images/test.png');
    height: 18px;
    width: 18px;
    display: inline-block;
    margin-right: 6px;
    vertical-align: bottom;
}

.favouriteIcon {
    background-image: url('images/favoriteIcon.png');
}

.messageIcon {
    background-image: url('images/messageIcon.png');
    background-position: center;
}

.stickerIcon {
    background-image: url('images/stickerIcon.png');
}

.hikeDirectIcon {
    background-image: url('images/hikeDirectIcon.png');
    background-position: center;
}

.chatThemesIcon {
    background-image: url('images/chatThemesIcon.png');
}

.filesIcon {
    background-image: url('images/filesIcon.png');
}

.statusUpdatesIcon {
    background-image: url('images/statusUpdatesIcon.png');
    background-position: center;
}

.invitesIcon {
    background-image: url('images/invitesIcon.png');
    background-position: center;
}

.halfCard .statHeading {
    @include fontStyle(12px,
    400,
    #9EA3AD,
    16px)
}

.fullCard .statHeading {
    @include fontStyle(12px,
    400,
    #000000,
    16px);
}

.halfCard .header {
    padding: 15px;
    border-bottom: 1px solid rgba(151, 151, 151, 0.1);
    position: relative;
}

.fullCard .header {
    padding: 15px 0px 15px 0px;
    border-bottom: 1px solid rgba(151, 151, 151, 0.1);
    position: relative;
    padding-left: 0;
    margin-left: 15px;
    margin-right: 15px;
}

.cardContainer {
    margin-bottom: 6px;
    overflow: hidden;
}

.halfCard .dataHeader {
    padding-top: 16px;
    display: inline-block;
    width: 48%;
    padding-bottom: 11px;
    text-align: center;
}

.fullCard .dataHeader {
    padding-top: 16px;
    padding-bottom: 11px;
    text-align: left;
    margin: 0 15px 0 15px;
}

.halfCard .dataHeader:nth-child(2) {
    border-right: 1px solid rgba(151, 151, 151, 0.1);
}

.halfCard .statSubHeading {
    @include fontStyle(11px,
    300,
    rgba(61,
    71,
    92,
    0.70),
    15px);
    padding-bottom: 5px;
    display: block;
}

.fullCard .statSubHeading {
    @include fontStyle(14px,
    400,
    #A0A0A0,
    19px);
    padding-bottom: 5px;
    display: block;
}

.statSubHeading span {
    @include fontStyle(14px,
    500,
    #3D475C,
    19px);
}

.statData {
    @include fontStyle(21px,
    300,
    #3D475C,
    30px);
}

.cardHeader {
    @include fontStyle(14px,
    400,
    #3D475C,
    19px);
    margin: 0px 0px 16px 9px;
}

.halfCard {
    border-radius: 4px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, .16);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, .16);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, .16);
    display: inline-block;
    width: 46%;
    margin-left: 9px;
    background: #fff;
    float: left;
    margin-bottom: 9px;
}

.fullCard {
    border-radius: 4px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, .16);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, .16);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, .16);
    display: inline-block;
    width: 94.5%;
    background: #fff;
    margin: 0 9px 3px 9px;
}

.marT16 {
    margin-top: 16px;
}

.topHeading {
    @include fontStyle(10px,
    400,
    #ffffff,
    16px);
    padding: 6px 4px 3px 4px;
    border-radius: 2px;
    position: absolute;
    right: 6px;
    top: 13px;
}

.fullCard .topHeading {
    right: -9px;
    top: 12px;
}

.bgColorLevel1 {
    background: #E3A800;
}

.bgColorLevel2 {
    background: #AAAAAA;
}

.bgColorLevel3 {
    background: #CD7F32;
}

.topTagLevel1,
.topTagLevel2,
.topTagLevel3 {
    display: inline-block;
    width: 69px;
    height: 52px;
    margin: 0px 12px;
}

.topTagLevel1 {
    background-image: url('images/topLevelGold.png');
}

.topTagLevel2 {
    background-image: url('images/topLevelSilver.png');
}

.topTagLevel3 {
    background-image: url('images/topLevelBronze.png');
}

.transferMetric {
    @include fontStyle(11px,
    300,
    #3D475C,
    12px);
}

.statsProfile {
    border-bottom: 1px solid rgba(151, 151, 151, 0.1);
}

.rowHr {
    border: none;
    margin: 0 0 0 100px;
    background: rgba(151, 151, 151, 0.1);
    height: 1px;
}

@media screen and (max-width: 330px) {
    .cardIcon {
        height: 16px;
        width: 16px;
        margin-right: 3px;
    }
    .topHeading {
        font-size: 9px;
        padding: 3px 4px 3px 4px;
        right: 4px;
        top: 13px;
    }
    .halfCard .statHeading {
        font-size: 10px;
    }
}

@media screen and (min-width: 331px) and (max-width: 350px) {
    .cardIcon {
        margin-right: 3px;
    }
    .topHeading {
        font-size: 10px;
        padding: 3px 4px 3px 4px;
        right: 4px;
        top: 13px;
    }
    .halfCard .statHeading {
        font-size: 10px;
    }
}

@media screen and (min-width: 351px) and (max-width: 380px) {
    .cardIcon {
        margin-right: 5px;
    }
    .topHeading {
        font-size: 10px;
        padding: 3px 4px 3px 4px;
        right: 4px;
        top: 13px;
    }
    .halfCard .statHeading {
        font-size: 10px;
    }
}