/* form starting stylings ------------------------------- */
.group            { 
  position:relative; 
  margin-top: 64px;
  margin-left: 15px; 
}
input               {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus         { outline:none; }

/* LABEL ======================================= */
label                {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label        {
  top:-20px;
  font-size:14px;
  color:#242739;
}

/* BOTTOM BARS ================================= */
.bar    { position:relative; display:block; width:315px; }
.bar:before, .bar:after     {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#242739; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from { background:#242739; }
  to    { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
    from { background:#242739; }
  to    { width:0; background:transparent; }
}
@keyframes inputHighlighter {
    from { background:#242739; }
  to    { width:0; background:transparent; }
}

.writeMessageButton{
  color: #fff;
    display: block;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #7ED321;
    margin: 0px auto;
    text-transform: uppercase;
    padding: 14px 45px;
    width: 10%;
    position: absolute;
    bottom: 27px;
    left: 0px;
    right: 0px;
    text-align: center;  
}

.hide{
  display: none!important; 
}