textarea {
    font-size: 18px;
    display: block;
    color: #666666;
    width: 82%;
    margin-left: 6%;
    border: none;
    border-bottom: 1px solid #979797;
    resize: none;
    overflow: hidden;
    line-height: 27px;
    margin-top: 60px;
    font-weight: 400;
    padding:0px 8px;
}

.writeMessageButton {
    color: #fff;
    display: block;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #7ED321;
    margin: 0px auto;
    text-transform: uppercase;
    padding: 14px 45px;
    width: 10%;
    position: absolute;
    bottom: 27px;
    left: 0px;
    right: 0px;
    text-align: center;
}