* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
    outline: none !important;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.alignLeft {
    text-align: left;
}

.alignRight {
    text-align: right;
}

.alignCenter {
    text-align: center;
}

a {
    display: block;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #fff;
    margin: 0px;
    padding: 0px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.inlineBlock {
    display: inline-block;
}

.card {
    background-color: #fff;
    width: 100%;
    min-height: 1px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.share-container {
    position: absolute;
    right: -18px;
    bottom: 25%;
    height: 66px;
    width: 70px;
    -webkit-transform: skewX(-45deg);
}

.share-container img {
    width: 19px;
    position: absolute;
    left: 17px;
    bottom: 13px;
    -webkit-transform: skewX(45deg);
}

.centerContainer {
    height: 100%;
    margin-right: 16px;
    margin-left: 16px;
}

.centerContainer img {
    height: 100%;
    width: 100%;
}

.title {
    font-size: 16px;
    color: #424242;
    font-weight: 400;
    line-height: 21px;
    margin: 16px;
}

.bottomSection {
    margin: 16px;
    text-align: right;
}

.bottomSection div {
    display: inline-block;
}

.cardTxt {
    font-size: 24px;
    color: #FFFFFF;
    font-weight: 500;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
}


.sentBy{
    font-weight:400;font-size:14px;color:rgba(153,153,153,0.40);line-height:19px;
}

.aromaIcon img{
    height:9px;width:12px
}

.aromaHeading{
    font-weight:400;font-size:14px;color:#20003B;line-height:19px;
}