<div class="attachSmellWrap">
    <div class="attachSmellSection">
        <div class="selectedStateSmell hide"> </div>
        <div class="row">
            <!-- sandeep !-->
            <div class="smellSection" aromaName="Rose" aromaImg="smellTemplate">
                <div class="smell1 smellDimension"> </div>
                <div class="smellTxt">Rose</div>
            </div>
            <div class="smellSection" aromaName="Fart" aromaImg="smellTemplate">
                <div class="smell1 smellDimension"> </div>
                <div class="smellTxt">Fart</div>
            </div>
            <div class="smellSection" aromaName="Rain" aromaImg="smellTemplate">
                <div class="smell1 smellDimension"> </div>
                <div class="smellTxt">Rain</div>
            </div>
        </div>
        <div class="row">
            <div class="smellSection" aromaName="Garbage" aromaImg="smellTemplate">
                <div class="smell1 smellDimension"> </div>
                <div class="smellTxt">Garbage</div>
            </div>
            <div class="smellSection" aromaName="Cheese" aromaImg="smellTemplate">
                <div class="smell1 smellDimension"> </div>
                <div class="smellTxt">Cheese</div>
            </div>
            <div class="smellSection" aromaName="Fish" aromaImg="smellTemplate">
                <div class="smell1 smellDimension"> </div>
                <div class="smellTxt">Fish</div>
            </div>
        </div>
        <div class="row">
            <div class="smellSection" aromaName="Socks" aromaImg="smellTemplate">
                <div class="smell1 smellDimension"> </div>
                <div class="smellTxt">Socks</div>
            </div>
            <div class="smellSection" aromaName="Wine" aromaImg="smellTemplate">
                <div class="smell1 smellDimension"> </div>
                <div class="smellTxt">Wine</div>
            </div>
            <div class="smellSection" aromaName="Petrol" aromaImg="smellTemplate">
                <div class="smell1 smellDimension"> </div>
                <div class="smellTxt">Petrol</div>
            </div>
        </div>
    </div>
</div>
<div class="buttonsWrapper">
    <div class="captureSmell">
        <div class="openCamera"> </div>
        <div class="captureTxt align-center">Detect aroma from your surroundings</div>
    </div>
    <div class="btnContainer">
        <div class="cancelBtn hide disp-inlineBlock">
            Cancel
        </div>
        <div class="nextBtn hide disp-inlineBlock">
            Next
        </div>
    </div>
</div>
