<div class="attachSmellSection">
    <div class="row">
        <div class="smellSection">
            <div class="smell1 smellDimension"> </div>
            <div class="smellTxt"> Text</div>
        </div>
        <div class="smellSection">
            <div class="smell1 smellDimension"> </div>
            <div class="smellTxt"> Text</div>
        </div>
        <div class="smellSection">
            <div class="smell1 smellDimension"> </div>
            <div class="smellTxt"> Text</div>
        </div>
    </div>
    <div class="row">
        <div class="smellSection">
            <div class="smell1 smellDimension"> </div>
            <div class="smellTxt"> Text</div>
        </div>
        <div class="smellSection">
            <div class="smell1 smellDimension"> </div>
            <div class="smellTxt"> Text</div>
        </div>
        <div class="smellSection">
            <div class="smell1 smellDimension"> </div>
            <div class="smellTxt"> Text</div>
        </div>
    </div>
    <div class="row">
        <div class="smellSection">
            <div class="smell1 smellDimension"> </div>
            <div class="smellTxt"> Text</div>
        </div>
        <div class="smellSection">
            <div class="smell1 smellDimension"> </div>
            <div class="smellTxt"> Text</div>
        </div>
        <div class="smellSection">
            <div class="smell1 smellDimension"> </div>
            <div class="smellTxt"> Text</div>
        </div>
    </div>
    <div class="captureSmell">
        <div class="openCamera"> </div>
        <div class="captureTxt"> Add from surrounding</div>
    </div>
    <div class="btnContainer hide smellButton">
        Next
    </div>
</div>
</div>