<div class="attachSmell">
    <div class="row">
        <div class="smell">
            <div> Img </div>
            <div> Text</div>
        </div>
        <div class="smell">
            <div> Img </div>
            <div> Text</div>
        </div>
        <div class="smell">
            <div> Img </div>
            <div> Text</div>
        </div>
    </div>
    <div class="row">
        <div class="smell">
            <div> Img </div>
            <div> Text</div>
        </div>
        <div class="smell">
            <div> Img </div>
            <div> Text</div>
        </div>
        <div class="smell">
            <div> Img </div>
            <div> Text</div>
        </div>
    </div>
    <div class="row">
        <div class="smell">
            <div> Img </div>
            <div> Text</div>
        </div>
        <div class="smell">
            <div> Img </div>
            <div> Text</div>
        </div>
        <div class="smell">
            <div> Img </div>
            <div> Text</div>
        </div>
    </div>
    <div>
        <div class="openCamera"> Camera </div>
        <div> Add from surrounding</div>
    </div>
</div>