<div class="detectAromaWrapper align-center">
    <div class="detect-wrapper">
        <div class="bar"></div>
        <div class="inner-circle">
            <div class="inner-circle-success"></div>
        </div>
        <div class="radial"></div>
        <div class="back"></div>
        <div class="a1"></div>
        <div class="a2"></div>
        <div class="a3"></div>
        <div class="a4"></div>
        <div class="a5"></div>
    </div>
</div>

<div class="detectAromaHeading">Detecting Aroma Particles<br>Please wait<div class="loading"></div></div>
