<div class="faqContainer">
    <h1>Frequently Asked Questions</h1>
    <h2>1. What is Hike Smell?</h2>
    <p>Hike Smell is the state of the art tool which lets users attach smell to their messages. Now, you can let your friends smell the objects that you share with them through Hike Smell.</p>
    <h2>2. How does it work?</h2>
    <p>Hike Smell uses the Olfactory sensors available in the latest version of android to detect the smell of the objects around you. This patent pending technology simulates the nasal sensors of human nose and has been widely researched upon for the last few years.</p>
    <h2>3. How to use Hike Smell?</h2>
    <p>Step 1: Tap on Hike Smell option in Hike app <br>Step 2: Click on "Try Now” <br>Step 3: You can select a pre-defined smell from the list or you can tap on the “+” icon to take a picture from your camera or phone gallery. <br>Step 4: Click on “Share" <br>Step 5: Type a message to go along with your Hike Smell card <br>Step 6: Select the friends you want to share the Hike Smell card Step 7: Done
    </p>
    <h2>4. What are Hike Smell cards?</h2>
    <p>A skipped user’s profile will be removed from the recommendation list and not be displayed to you again.So skip wisely :P.</p>
    <h2>5. How to invite my friends to use the Hike Smell?</h2>
    <p>Your like preference will be stored for future references. The user will NOT be notified till the time he/she likes you back.</p>
</div>
