<div class="faqContainer">
    <h1>Frequently Asked Questions</h1>
    <h2>1. What is Hike Smell?</h2>
    <p>Imagine you are sitting in a coffee shop and you want to tell your friends how aromatic your coffee tastes. Hike Smell is the state of the art tool which makes this possible. Now, users can attach smell to their messages. Welcome to the world of intelligent messaging!</p>
    <h2>2. How does it work?</h2>
    <p>The Hike Smell cards simulate the human olfactory nervous function. Using the patent pending Digital Smell Compression (DSC) technology, Hike Smell digitally captures the smell particles from the piezoelectric sensors available in the latest version of Android to detect the smell of the objects around you. This is stored in the GB cache of your phone, which multiplexes the smell particles with the text message using the PPPoE protocol. This digitally coupled message is then injected in the unicode TCP capacitor, which is a small chip near the transmitter of your device that backs up the BIOS bus and transmits the digital replica of the smell. </p>
    <h2>3. How to use Hike Smell?</h2>
    <p>Step 1: Tap on Hike Smell option in Hike app
        <br> Step 2: Click on "Try Now”
        <br> Step 3: You can select a predefined smell from the list or you can tap on the “+” icon to take a picture from your camera or phone gallery.
        <br> Step 4: Click on “Share".
        <br> Step 5: Type a message to go along with your Hike Smell card.
        <br> Step 6: Select the friends you want to share the Hike Smell card.
        <br> Step 7: Done.
    </p>
    <h2>4. What are Hike Smell cards?</h2>
    <p>The smell that you intend to share with your friends with shared via Hike Smell cards, which are digital imprints of the olfactory particles detected in the image sent by you. They're inside the sensor and use the optical PPPoE card technology to program their protocol.</p>
    <h2>5. “I am not able to smell the card. What should i do?”</h2>
    <p>1. The Hike Smell cards can be used to transmit smells effectively to your friends. However, the sender of the card will not be able to smell the card himself, since the current version of android does not support this feature.
        <br> 2.Try rotating your phone screen at an angle where the smell particles can be released without surrounding interference
        <br> 3.If someone has sent you a card and you are not able to detect the smell, this could be due to 2 reasons
        <br> a. Your Android version does not support the olfactory sensor technology.
        <br> b. Your nose may be blocked. Clear your nose and try again!
    </p>
    <h2>How to invite my friends to use the Hike Smell?</h2>
    <p>By tapping on the Hike Smell card shared by you, your friends can use the Hike Smell feature themselves and share with anyone they wish.
    </p>
</div>
