<div class="trophyContainer">
    <div class="trophyCountIcon"></div>
    <div class="trophyCount">{{awardedCount}} / {{totalCount}}</div>
    <!-- List Of All Trophies -->
    <div class="trophyWrapper">
        {{#experiment2}} {{#trophiesData}}
            <div data-tid="{{id}}" data-experiment="exp2" id="trophyIcon" class="{{^awarded}}locked{{/awarded}}"></div>        
        {{/trophiesData}} {{/experiment2}} 
    
        {{#experiment3}} {{#trophiesData}}
            <div id="trophyIcon" data-tid="{{id}}" data-experiment="exp3" class="{{^awarded}}locked{{/awarded}}"></div>
        {{/trophiesData}} {{/experiment3}}
    </div>   
</div>
