<div> {{awardedCount}} / {{totalCount}} </div>

{{#experiment2}}
{{#trophiesData}} 
<div>
    </br>
    name : {{label}}
    </br>
    </br>
    icon : <img data-tid="{{id}}" data-experiment="exp2" class="{{^awarded}}locked{{/awarded}}" src="images/{{icon}}">
</div>
{{/trophiesData}}
{{/experiment2}}


{{#experiment3}}
{{#trophiesData}} 
<div>
    </br>
    name : {{label}}
    </br>
    </br>
    icon : <img data-tid="{{id}}" data-experiment="exp3" class="{{^awarded}}locked{{/awarded}}" src="images/{{icon}}">
</div>
{{/trophiesData}}
{{/experiment3}}