<div class="trophyContainer">
    <div class="overallWrapper">
        <div class="trophyCountWrapper">
            <div class="trophyCountIcon backgroundImageGeneric"></div>
            <div class="trophyCount"><span>{{awardedCount}}</span> / {{totalCount}}</div>
        </div>
        <!-- List Of All Trophies -->
        <div class="centerToScreenContainer">
            <div class="trophyWrapper centerToScreenWrapper">
                {{#experiment2}} {{#trophiesData}}
                <div class="trophyIconContain">
                    <div data-tid="{{id}}" data-experiment="exp2" id="trophyIcon" class="commonTrophy {{^awarded}}locked{{/awarded}} {{#awarded}}awarded{{/awarded}} backgroundImageGeneric"></div>
                </div>
                {{/trophiesData}} {{/experiment2}} {{#experiment3}} {{#trophiesData}}
                <div class="trophyIconContain">
                    <div id="trophyIcon" data-tid="{{id}}" data-experiment="exp3" class="commonTrophy {{^awarded}}locked{{/awarded}} {{#awarded}}awarded{{/awarded}} backgroundImageGeneric"></div>
                </div>
                {{/trophiesData}} {{/experiment3}}
            </div>
        </div>
    </div>
    <div class="trophyOverlay centerToScreenContainer hide">
        <div class="trophyOverlayWrapper centerToScreenWrapper">
            <div class="crossIcon backgroundImageGeneric"></div>
            <div class="levelsIconWrapper">
                <div data-level= 0  class="levelCommon levelBronze backgroundImageGeneric"></div>
                <div data-level= 1 class="levelCommon levelSilver backgroundImageGeneric"></div>
                <div data-level= 2 class="levelCommon levelGold backgroundImageGeneric"></div>
            </div>
            <h1 class="trophyHeading align-center"></h1>
            <p class="levelText align-center"></p>
            <hr noshade>
            <div class="levelAction align-center">Ok</div>
        </div>
    </div>
</div>
